html body {
	font-family: 'Titillium Web', sans-serif;
	overflow-x:  hidden;
	transition: all 1.5s ease;
}
html {}
body a{
   text-decoration: none;
   color: #CE291B;
}
body a:hover{
	color: white;
}
#headsec{
	width: 100vw;
	height: 200px;
}
#headsec .headup{
	height: 40px;
	width: 100vw;
}
#headsec .headup .headfstul{
	width:760px;
	height: 40px;
	position: relative;
}
#headsec .headup .headfstul li {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	margin-left: 20px;
	width: 200px;
	height: 25px;
	font-size: 17px;
	cursor: pointer;
}
#headsec .headup span{
	float: left;
	position: relative;
	margin-right: 10px;
	font-size: 20px;
	color: grey;
}
#headsec .headup h5 {
	transition: all .5s ease;
}
#headsec .headup h5:hover{
    color: red;
}
/*/////////////////////////*/
#headsec .headup .headscndul{
	width:200px;
	height: 40px;
	position: relative;
	float: right;
	top: -100%;
}
#headsec .headup .headscndul span{
	margin-right: 20px;
	padding-top:10px;
	transition: all .5s ease;
	cursor: pointer;
}
#headsec .headup .headscndul span:hover{
	color: red;
}
/*///////////HEAD  DOWN//////////////////////*/
#headsec .headdown{
	 position: relative;
     height: 110px;
     width: 1110px;
     left: 9%;
}
#headsec .headdown .magich4{
	color: black;
}
#headsec .headdown h4{
	position: relative;
	top: 30px;
	left: 5%;
	font-family: 'Fjalla One', sans-serif;
}
#headsec .headdown span {
	cursor: pointer;
	position: relative;
	font-size: 25px;
	color: #CE291B;

}
#headsec .headdown span i{
	position: absolute;
	top: 32.5px;
	font-size: 50px;
	color: #CE291B;
}
#headsec .headdown button{
	position: relative;
	right: -82%;
	width: 200px;
	height: 50px;
	background-color: #CE291B;
	border:none;
	color: white;
	font-size: 15px;
	cursor: pointer;
	transition: all .2s ease;
}
#headsec .headdown button:hover{
	background-color:#992C24;
}
#headsec .headdown hr{
	background-color: black;
	height: 1px;
	border:none;
}
 #toolul{
 	position: relative;
 	top: 0%;
 	left: 0%;
 	margin:0 auto;
	width: 1110px;
	height: 50px;
	z-index: 1;
}
#toolul ul {
	width: 1110px;
	height: 50px;
}
#toolul ul h5 {
	text-align: left;
	font-size: 17.5px;
	width: 92.5%;
	height: 27px;
	transition: all .5s ease;
	padding-top: 10px;
	padding-left: 20px;
}
#toolul ul h5:hover{
	color: white;
	background-color: #CE291B;
}
#toolul ul li{
	height: 50px;
	width: 135px;
	display: inline-block;
	margin-right: 50px;
	padding-top: 15px;
	letter-spacing: 2px;
	cursor: pointer;
	color: #CE291B;
}
#toolul .hmli{
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
    width: 60px;
    font-size: 20px;
    text-align: center;
}
/*////////////////////*/
#toolul .elli{
    font-size: 20px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    word-spacing: 7.5px;
    width: 85px;
}
#toolul .drop {
	overflow: hidden;
}
#toolul .elli .drop {
	position: absolute;
	left: 75px;
	height: 300px;
	width: 235px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .elli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .elli:hover .drop{
	display: block;
	z-index: 2;
}
/*/////////////////////////////*/
#toolul .feali{
	font-size: 20px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    word-spacing: 7.5px;
    width: 80px;
	
}
#toolul .feali .drop1 {
	position: absolute;
	left: 20%;
	height: 430px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .feali .drop1 h5 {
	height: 37.5px;
}
#toolul .feali .drop1 ul{
	width: 230px;
	height: 300px;
}
#toolul .feali:hover .drop1{
	display: block;
	z-index: 2;
}
/*////////////////////////////*/
#toolul .exli{
	font-size: 20px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    word-spacing: 7.5px;
    width: 75px;	
}
#toolul .exli .drop {
	position: absolute;
	left: 34%;
	height: 222px;
	width: 230px;
	display: none;
    background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .exli .drop ul{
	width: 230px;
	height: 222px;
}
#toolul .exli:hover .drop{
	display: block;
	z-index: 2;
}
/*//////////////////////////////////*/
#toolul .prol{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 170px;
}
#toolul .prol .drop {
	position: absolute;
	left: 43.9%;
	height: 141px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .prol h5{
	height: 37px;
}
#toolul .prol .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .prol:hover .drop{
	display: block;
	z-index: 2;
}
/*//////////////////////////////////*/
#toolul .pgli{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 55px;
}
#toolul .pgli .drop {
	position: absolute;
	left: -5.5%;
	height: 460px;
	width: 1200px;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
	top: 100%;
	display: none;
}
#toolul .pgli .drop h2{
	margin-top: 15px;
}
#toolul .pgli .drop .pgdr1{
    height: 525px;
    width: 280px;
    background-color: white;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#toolul .pgli .drop .pgdr2{
    height: 525px;
    width: 280px;
    background-color: white;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#toolul .pgli .drop .pgdr2 h5{
	height: 35px;
}
#toolul .pgli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .pgli:hover .drop{
	display: block;

}
/*/////////////////////////////////////*/
#toolul .bgli{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 50px;
}
#toolul .bgli .drop {
	position: absolute;
	left: 71%; 
	height: 351px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .bgli .drop h5{
	height: 35px;
}
#toolul .bgli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .bgli:hover .drop{
	display: block;
	z-index: 2;
}
/*/////////////////////////////////////////////*/
#toolul .glli{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 75px;
}
#toolul .glli .drop {
	position: absolute;
	left: 81%;
	height: 193px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .glli .drop  h5 {
    height: 38px;
}
#toolul .glli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .glli:hover .drop{
	display: block;
	z-index: 2;
}
/*//////////////TBAND////////////////*/
#tband{
	height: 250px;
	padding-left: 370px;
	width: 100vw;
	background-image: url(images/scndpag.jpg);
	background-repeat: no-repeat;
	font-family: 'Fjalla One', sans-serif;
}
#tband .phtwrite{
	position: relative;
	top: 30%;
	left: 7.5%;
	height: 150px;
	width: 500px;

}
#tband .phtwrite .mnhome{
	cursor: pointer;
}
#tband .phtwrite ul{
	position: relative;
	top: 50%;
}
#tband .phtwrite h1{
	color: white;
	font-size: 50px;
}
#tband .phtwrite li{
	color: white;
	display: inline-block;
	margin-left: 10px;
}
#tband .phtwrite span{
	color: #CE291B;
	margin-left: 10px;
}
/*///////////////JESSICA SECTION////////////*/
#jessic{
	width: 100vw;
	height: 400px;
	margin-bottom: 25px;
}
#jessic .jessicaleft{
	position: relative;
	left: 5%;
	height: 400px;
	width: 400px;
	display: inline-block;
}
#jessic .jessicaleft div{
	position: absolute;
	top: -50%;
	left: 10%;
	width: 300px;
	height: 305px;
	background-color: grey;
	border: 10px solid white;
}
#jessic .jessicaleft h6{
	position:absolute;
	top: 70%;
}
#jessic .jessicaleft p{
	position:absolute;
	top: 70%;
}
#jessic .jessicaleft span{
	position:relative;
	top: 250px;
	display: block;
	left: 10%;
	letter-spacing: 1.5px;
	cursor: pointer;
	font-family: 'Fjalla One', sans-serif;
}
#jessic .jessicaleft span i{
	margin-right: 10px;
	margin-top: 15px;
	font-size: 17.5px;
}
#jessic .jessicaleft span:hover{
     color: brown;
}
#jessic .jessicaleft button{
	position: absolute;
	top: 40%;
	left: 10%;
	width: 315px;
	height: 50px;
	color: white;
	font-size: 17.5px;
	background-color: #CE291B;
	border: none;
	cursor: pointer;
	font-family: 'Fjalla One', sans-serif;
	transition: all .5s ease;
}
#jessic .jessicaleft button:hover{
	background-color: brown;
}
#jessic .jessicaleft img{
	width: 100%;
	height: 100%;
}
#jessic .jessicaleft ul{
	position: absolute;
	left: 6.5%;
	top: 90%;
	font-size: 17.5px;
	color: grey;
}
#jessic .jessicaleft ul li{
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
}
#jessic .jessicaleft ul li:hover{
	color:brown;
}
/*////////////////////////////////*/
#jessic .jessicaright{
	height: 330px;
	width: 700px;
	float: right;	
	margin-right: 70px;
	padding-top: 70px;
}
#jessic .jessicaright h6{
	font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
}
#jessic .jessicaright p{
	font-size: 17.5px;
	margin-top: 20px;
	line-height: 30px;
	font-family: 'Fjalla One', sans-serif;
}
/*///////PROPERTIES///////////////////////*/

#properties{
	position: relative;
    left: 9%;
	height: 2100px;
	width: 1200px;
}
/*//////////////////////////////////////////*/
.propertiesup{
	height: 170px;
	width: 1110px;
	font-size: 50px;
	font-family: 'Fjalla One', sans-serif;
}
.propertiesup hr{
	width: 100px;
	border:1px solid red;
	position: relative;
	left: -45.4%;
	top: -5%;
}
/*///////////PROPERTIES DOWN///////////////////*/
.propertiesdown{
	width: 800px;
	height: 2300px;
	display: inline-block;
}
/*////////////////////////////////////////////*/
.propertiesdown .magicproper{
	position: relative;
	width: 350px;
	height: 560px;
	margin-left: 12.5px;
	display: inline-block;
	margin-bottom: 55px;
	color: white;
	overflow: hidden;
	font-family: 'Fjalla One', sans-serif;
}
.propertiesdown .magicproper .prorer{
	height: 250px;
	width: 350px;
	cursor: pointer;
	overflow: hidden;
	z-index: 2;
}
.propertiesdown .magicproper .prorer .proplt{
    position: absolute;
    left: 57.5%;
    top: 33%;
	height: 33px;
	width: 160px;
	background-color: #CE291B;
	z-index: 1;
	font-size: 17.5px;
	text-align: center;
	padding-top: 8px;
	padding-right:40px;
	transition: all .5s ease;
}
.propertiesdown .magicproper .prorer img {
	position: relative;
	height: 100%;
	width: 105%;
	left: -4.5%;
	transition:all .5s ease;
}
.magicproper .prorer .proplt:hover{
	left: 43%;
}
.propertiesdown .magicproper .prorer img:hover {
	position: relative;
	height: 100%;
	width: 105%;
	left: 0%;
}

.propertiesdown .magicproper .properwrite{
	height: 310px;
	width: 350px;
}
.propertiesdown .magicproper .properwrite h4{
	margin-top: 20px;
	color: #CE291B;
	font-size: 25px;
}
.propertiesdown .magicproper .properwrite h6{
	color:black;
    font-size: 17.5px;
	height: 30px;
	width: 170px;
	display: inline-block;
	margin-top: 20px;
}
.propertiesdown .magicproper .properwrite p{
	color: black;
	line-height: 27.5px;
	margin-top: 20px;

}
.propertiesdown .magicproper .properwrite span{
	color: lightgrey;
	width: 175px;
	height: 30px;
	font-size: 20px;
}
.propertiesdown .magicproperend{
    position: relative;
	width: 350px;
	height: 250px;
	margin-left: 12.5px;
	display: inline-block;
}
.propertiesdown .magicproperend button{
	position: relative;
	top:25%;
	height: 50px;
	width: 50px;
	background-color: #CE291B;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 5px;
	border: none;
	color: white;
	transition: all .5s ease;
	display: inline-block;
	cursor: pointer;
}
.propertiesdown .magicproperend .propbtn1{
	background:none;
	border: 1px solid #CE291B;
	color: #CE291B;
	margin-left: 10px;

}
.propertiesdown .magicproperend .propbtn1:hover{
	color: white;
	background-color: #CE291B;

}
.propertiesdown .magicproperend .propbtn2{
	background:none;
	border: 1px solid #CE291B;
	color: #CE291B;
	margin-left: 10px;

}
.propertiesdown .magicproperend .propbtn2:hover{
	color: white;
	background-color: #CE291B;
	
}
.propertiesdown .magicproperend .propbtn3{
	background:none;
	border: 1px solid #CE291B;
	color: #CE291B;
	margin-left: 10px;

}
.propertiesdown .magicproperend .propbtn3:hover{
	color: white;
	background-color: #CE291B;
	
}
.propertiesdown .magicproperend button:hover{
	background-color: #992C24;
}
/*////////////PROPERTIES RIGHT///////*/
.propright{
	position: absolute;
	height: 650px;
	width: 400px;
	display: inline-block;	
}
.propright select{
	background-color: lightgrey;
	width: 400px;
	height: 50px;
	font-size: 17.5px;
	color: grey;
	border: none;
	cursor: pointer;
	font-family: 'Fjalla One', sans-serif;
}
.propright h1{
	font-size: 30px;
	font-family: 'Fjalla One', sans-serif;
}
.propright h6{
	width: 250px;
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
}
.propright h5 {
	display: inline-block;
	width: 175px;
	margin-left: 15px;
	font-family: 'Fjalla One', sans-serif;
}
.propright #nmbr{
	width: 175px;
	height: 50px;
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}
.propright input{
	background-color: lightgrey;
   width: 150px;
   height: 50px;
   margin-left: 25px;
   margin-right: 10px;
   font-size: 17.5px;
   	font-family: 'Fjalla One', sans-serif;

}
.propright input option{
	cursor: pointer;
}
.propright button{
	width: 150px;
	height: 50px;
	background-color: #CE291B;
	color: white;
	border: none;
	margin-top: 20px;
	cursor: pointer;
}
.propright button:hover{
	background-color: brown;
}
/*///////TESTİMON SECTİON////////////////*/
#testimon{
	position: relative;
	width: 100vw;
	height: 650px;
}
/*//////////////////////////////////////*/
#testimon .testup{
	position: relative;
	width: 100vw;
	height: 250px;
}
#testimon .testup h1{
	position: relative;
	left: 9%;
	font-size: 50px;
	font-family: 'Fjalla One', sans-serif;
	padding-top: 100px;
	margin-top: 40px;
}
#testimon .testup hr{
	position: relative;
	border: 1px solid red;
	width: 100px;
	left:-37%;
	margin-top: 25px;
}
/*/////////////////////////////////////*/
#testimon .testdown{
	position: relative;
	width: 1110px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}
#testimon .testdown #testdown1{
	position: relative;
    width: 3335px;
    height: 350px;
    left: 0px;
    transition: all .5s ease;
}
#testimon .testdown #testdown1 .endslide{
	position: relative;
	top: 0%;
	height: 300px;
	width: 362px;
	display: inline-block;
	margin-left: 5px;
}
#testimon .testdown #testdown1 .endslide div{
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
}
#testimon .testdown #testdown1 .endslide h1{
	position: relative;
	top: -10%;
	left: 20%;
	font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}
#testimon .testdown #testdown1 .endslide p{
	line-height: 25px;
}
/*///////////////////////////////////////*/
#testimon .testdown .testdown2{
	position: relative;
	left: 7.5%;
    width: 250px;
    height: 50px;
    margin: 0 auto;
}
#testimon .testdown .testdown2 #loksinput{
	position: relative;
	height: 15px;
	width: 15px;
	background-color: lightgrey;
	display: inline-block;
	border-radius: 100%;
	transition: all .5s ease;
}
#testimon .testdown .testdown2 #loksinput:hover{
	background-color: #CE291B;
}
#testimon .testdown .testdown2 #loksinput1{
	position: relative;
	height: 15px;
	width: 15px;
	background-color: lightgrey;
	display: inline-block;
	border-radius: 100%;
	transition: all .5s ease;
}
#testimon .testdown .testdown2 #loksinput1:hover{
	background-color: #CE291B;
}
#testimon .testdown .testdown2 #loksinput2{
	position: relative;
	height: 15px;
	width: 15px;
	background-color: lightgrey;
	display: inline-block;
	border-radius: 100%;
	transition: all .5s ease;
}
#testimon .testdown .testdown2 #loksinput2:hover{
	background-color: #CE291B;
}
/*//////END SECTION//////////////////////*/
#endsection{
	position: relative;
	width: 100vw;
	height: 150px;
	background-color: #282e3e;
}
#endsection .endleft{
	position: relative;
	width: 33vw;
	height: 85px;
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	color: lightgrey;
	left: 2.5%;
	word-spacing: 5px;
	letter-spacing: 2.5px;
}
#endsection .endleft span{
	display: inline-block;
	font-size: 45px;
	cursor: pointer;

}
#endsection .endleft h1{
	display: inline-block;
		font-size: 20px;
		cursor: pointer;

}
/*///////////////////*/
#endsection .endcenter{
	position: relative;
	top: -5%;
	width: 33vw;
	height: 50px;
	display: inline-block;
	text-align: center;
	color: lightgrey;
	margin-top: 65px;
}
/*//////////////////////////*/
#endsection .endright{
	position: relative;
	left: 20%;
	width: 200px;
	height: 50px;
	display: inline-block;
}
#endsection .endright .endullast li{
	display: inline-block;
	color: lightgrey;
	cursor: pointer;
	margin-left: 5.5px;
}
#endsection .endright .endullast li:hover{
	color: white;

}