html body {
	font-family: 'Titillium Web', sans-serif;
	overflow-x:  hidden;
	transition: all 1.5s ease;
}
body a{
	text-decoration: none;
	color: #CE291B;
}
body a:hover{
	color: white;
}
html {}
#headsec{
	width: 100vw;
	height: 200px;
}
#headsec .headup{
	height: 40px;
	width: 100vw;
}
#headsec .headup .headfstul{
	width:760px;
	height: 40px;
	position: relative;
}
#headsec .headup .headfstul li {
	position: relative;
	display: inline-block;
	padding-top: 5px;
	margin-left: 20px;
	width: 200px;
	height: 25px;
	font-size: 17px;
	cursor: pointer;
}
#headsec .headup span{
	float: left;
	position: relative;
	margin-right: 10px;
	font-size: 20px;
	color: grey;
}
#headsec .headup h5 {
	transition: all .5s ease;
}
#headsec .headup h5:hover{
    color: red;
}
/*/////////////////////////*/
#headsec .headup .headscndul{
	width:200px;
	height: 40px;
	position: relative;
	float: right;
	top: -100%;
}
#headsec .headup .headscndul span{
	margin-right: 20px;
	padding-top:10px;
	transition: all .5s ease;
	cursor: pointer;
}
#headsec .headup .headscndul span:hover{
	color: red;
}
/*///////////HEAD  DOWN//////////////////////*/
#headsec .headdown{
	 position: relative;
     height: 110px;
     width: 1110px;
     left: 9%;
}
#headsec .headdown .magich4{
	color: black;
}
#headsec .headdown h4{
	position: relative;
	top: 30px;
	left: 5%;
	font-family: 'Fjalla One', sans-serif;
}
#headsec .headdown span {
	cursor: pointer;
	position: relative;
	font-size: 25px;
	color: #CE291B;

}
#headsec .headdown span i{
	position: absolute;
	top: 32.5px;
	font-size: 50px;
	color: #CE291B;
}
#headsec .headdown button{
	position: relative;
	right: -82%;
	width: 200px;
	height: 50px;
	background-color: #CE291B;
	border:none;
	color: white;
	font-size: 15px;
	cursor: pointer;
	transition: all .2s ease;
}
#headsec .headdown button:hover{
	background-color:#992C24;
}
#headsec .headdown hr{
	background-color: black;
	height: 1px;
	border:none;
}
 #toolul{
 	position: relative;
 	top: 0%;
 	left: 0%;
 	margin:0 auto;
	width: 1110px;
	height: 50px;
	z-index: 1;
}
#toolul ul {
	width: 1110px;
	height: 50px;
}
#toolul ul h5 {
	text-align: left;
	font-size: 17.5px;
	width: 92.5%;
	height: 27px;
	transition: all .5s ease;
	padding-top: 10px;
	padding-left: 20px;
}
#toolul ul h5:hover{
	color: white;
	background-color: #CE291B;
}
#toolul ul li{
	height: 50px;
	width: 135px;
	display: inline-block;
	margin-right: 50px;
	padding-top: 15px;
	letter-spacing: 2px;
	cursor: pointer;
	color: #CE291B;
}
#toolul .hmli{
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
    width: 60px;
    font-size: 20px;
    text-align: center;
}
/*////////////////////*/
#toolul .elli{
    font-size: 20px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    word-spacing: 7.5px;
    width: 85px;
}
#toolul .drop {
	overflow: hidden;
}
#toolul .elli .drop {
	position: absolute;
	left: 75px;
	height: 300px;
	width: 235px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .elli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .elli:hover .drop{
	display: block;
	z-index: 2;
}
/*/////////////////////////////*/
#toolul .feali{
	font-size: 20px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    word-spacing: 7.5px;
    width: 80px;
	
}
#toolul .feali .drop1 {
	position: absolute;
	left: 20%;
	height: 430px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .feali .drop1 h5 {
	height: 37.5px;
}
#toolul .feali .drop1 ul{
	width: 230px;
	height: 300px;
}
#toolul .feali:hover .drop1{
	display: block;
	z-index: 2;
}
/*////////////////////////////*/
#toolul .exli{
	font-size: 20px;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    word-spacing: 7.5px;
    width: 75px;	
}
#toolul .exli .drop {
	position: absolute;
	left: 34%;
	height: 222px;
	width: 230px;
	display: none;
    background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .exli .drop ul{
	width: 230px;
	height: 222px;
}
#toolul .exli:hover .drop{
	display: block;
	z-index: 2;
}
/*//////////////////////////////////*/
#toolul .prol{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 170px;
}
#toolul .prol .drop {
	position: absolute;
	left: 43.9%;
	height: 141px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .prol h5{
	height: 37px;
}
#toolul .prol .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .prol:hover .drop{
	display: block;
	z-index: 2;
}
/*//////////////////////////////////*/
#toolul .pgli{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 55px;
}
#toolul .pgli .drop {
	position: absolute;
	left: -5.5%;
	height: 460px;
	width: 1200px;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
	top: 100%;
	display: none;
}
#toolul .pgli .drop h2{
	margin-top: 15px;
}
#toolul .pgli .drop .pgdr1{
    height: 525px;
    width: 280px;
    background-color: white;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#toolul .pgli .drop .pgdr2{
    height: 525px;
    width: 280px;
    background-color: white;
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
#toolul .pgli .drop .pgdr2 h5{
	height: 35px;
}
#toolul .pgli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .pgli:hover .drop{
	display: block;

}
/*/////////////////////////////////////*/
#toolul .bgli{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 50px;
}
#toolul .bgli .drop {
	position: absolute;
	left: 71%; 
	height: 351px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .bgli .drop h5{
	height: 35px;
}
#toolul .bgli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .bgli:hover .drop{
	display: block;
	z-index: 2;
}
/*/////////////////////////////////////////////*/
#toolul .glli{
	font-size: 20px;
    text-align: center;
	font-family: 'Fjalla One', sans-serif;
	word-spacing: 7.5px;
	width: 75px;
}
#toolul .glli .drop {
	position: absolute;
	left: 81%;
	height: 193px;
	width: 230px;
	display: none;
	background-color: white;
	box-shadow:0px 1px 3px 2px #88886C;
}
#toolul .glli .drop  h5 {
    height: 38px;
}
#toolul .glli .drop ul{
	width: 230px;
	height: 300px;
}
#toolul .glli:hover .drop{
	display: block;
	z-index: 2;
}
/*//////////////TBAND////////////////*/
#tband{
	height: 250px;
	width: 100vw;
	background-image: url(images/galphoto.jpg);
	background-repeat: no-repeat;
	font-family: 'Fjalla One', sans-serif;
}
#tband .phtwrite{
	position: relative;
	top: 30%;
	left: 7.5%;
	height: 150px;
	width: 500px;

}
#tband .phtwrite .mnhome{
	cursor: pointer;
}
#tband .phtwrite ul{
	position: relative;
	top: 50%;
}
#tband .phtwrite h1{
	color: white;
	font-size: 50px;
}
#tband .phtwrite li{
	color: white;
	display: inline-block;
	margin-left: 10px;
}
#tband .phtwrite span{
	color: #CE291B;
	margin-left: 10px;
}
/*//////////MAGON GRID///////////////*/
#masongrid{
	height: 2095px;
	width: 1110px;
	margin:0 auto;
}
#masongrid .masonup{
	padding-top: 65px;
	width: 650px;
	height: 300px;
}
#masongrid .masonup h1{
	font-size: 50px;
	font-family: 'Fjalla One', sans-serif;
}
#masongrid .masonup hr{
	position: relative;
	width: 125px;
	left: -40%;
	border: 1px solid #CE291B;
	margin-top: 35px;
	margin-bottom: 35px;
}
#masongrid .masonup h6{
	margin-bottom: 50px;
}
#masongrid .masonup .btnss{
	width: 650px;
	height: 65px;
}
#masongrid .masonup .btnss #btnn1{
	width: 125px;
	height: 50px;
	background-color: #CE291B;
	color: white;
	border:none;
	cursor: pointer;
}
#masongrid .masonup .btnss #btnn2{
	width: 125px;
	height: 50px;
	border: 2px solid #CE291B;
	color: #CE291B;
	background: none;
	margin-left: 30px;
	cursor: pointer;
}
#masongrid .masonup .btnss #btnn3{
	width: 125px;
	height: 50px;
	border: 2px solid #CE291B;
	color: #CE291B;
	background: none;
	margin-left: 30px;
	cursor: pointer;
}
#masongrid .masonup .btnss #btnn4{
	width: 125px;
	height: 50px;
	border: 2px solid #CE291B;
	color: #CE291B;
	background: none;
	margin-left: 30px;
	cursor: pointer;
}
/*////////////MASON DOWN GRID/////////////*/
#masongrid #masondown{
	position: relative;
	left: 1.5%;
	width: 1150px;
	height: 1730px;
	margin: 0 auto;
	display: inline-block;
	clear: both;
}
#masongrid img{
	width: 100%;
	height: 100%;
}
#masongrid #masondown #masgrid1{
	width: 30%;
	height: 240px;
	background-color:red;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 0px;
    position:relative;
    top: -14%;
}
.overlay1 {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #2E3746;
  opacity: .5;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.overlay1 h5{
	color: white;
	font-size: 30px;
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 5%;
}
#masgrid2:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid3:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid4:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid5:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid6:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid7:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid8:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid9:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid10:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid1:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid11:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masgrid12:hover .overlay1 {
  height: 100%;
  top:0%;
}
#masongrid #masondown #masgrid2{
	width: 30%;
	height: 480px;
	background-color: green;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
    position:relative;
}
#masongrid #masondown #masgrid3{
	width: 30%;
	height: 240px;
	background-color:red;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 0px;
    position:relative;
    top: -14%;
}
#masongrid #masondown #masgrid4{
	width: 30%;
	height: 480px;
	background-color: green;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
    position:relative;
    top: -14%;
}
#masongrid #masondown #masgrid5{
	width: 30%;
	height: 240px;
	background-color:red;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 0px;
    position:relative;
    top: -14%;
}
#masongrid #masondown #masgrid6{
	width: 30%;
	height: 480px;
	background-color: green;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
	position:relative;
	top: -14%;
}
#masongrid #masondown #masgrid7{
	width: 30%;
	height: 480px;
	background-color: green;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
    position:relative;
    top:-14%;
}
#masongrid #masondown #masgrid8{
	width: 30%;
	height: 240px;
	background-color:red;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 0px;
    position:relative;
    top: -28%;
}
#masongrid #masondown #masgrid9{
	width: 30%;
	height: 480px;
	background-color: green;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
    position:relative;
    top: -14%;
}
#masongrid #masondown #masgrid10{
	width: 30%;
	height: 240px;
	background-color:red;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 0px;
    position:relative;
    top: -28%;
}
#masongrid #masondown #masgrid11{
	width: 30%;
	height: 480px;
	background-color: green;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 30px;
    position:relative;
    top: -28%;
}
#masongrid #masondown #masgrid12{
	width: 30%;
	height: 240px;
	background-color:red;
	clear: both;
	display: inline-block;
	margin-left: 30px;
	margin-top: 0px;
    position:relative;
    top: -28%;
}
/*//////END SECTION//////////////////////*/
#endsection{
	width: 100vw;
	height: 150px;
	background-color: #282e3e;
}
#endsection .endleft{
	position: relative;
	width: 33vw;
	height: 85px;
	display: inline-block;
	font-family: 'Fjalla One', sans-serif;
	color: lightgrey;
	left: 2.5%;
	word-spacing: 5px;
	letter-spacing: 2.5px;
}
#endsection .endleft span{
	display: inline-block;
	font-size: 45px;
	cursor: pointer;

}
#endsection .endleft h1{
	display: inline-block;
		font-size: 20px;
		cursor: pointer;

}
/*///////////////////*/
#endsection .endcenter{
	position: relative;
	top: -5%;
	width: 33vw;
	height: 50px;
	display: inline-block;
	text-align: center;
	color: lightgrey;
	margin-top: 65px;
}
/*//////////////////////////*/
#endsection .endright{
	position: relative;
	left: 20%;
	width: 200px;
	height: 50px;
	display: inline-block;
}
#endsection .endright .endullast li{
	display: inline-block;
	color: lightgrey;
	cursor: pointer;
	margin-left: 5.5px;
}
#endsection .endright .endullast li:hover{
	color: white;

}